input {
  width: 30%;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-color: #a1a1a1;
  border-width: 1px;
}

#numbers {
  background-color: #f3f3f3;
}

h2 {
  color: #ef7975;
  margin-left: 10%;
  font-family: 'Brandon Grotesque', sans-serif;
}

#numbers::placeholder {
  color: black;
}

::placeholder {
  font-family: 'AtlasGrotesk', sans-serif;
}

label {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 500;
  padding-left: 10px;
}

button {
  margin-top: 20px;
  color: white;
  background-color: #ec5d57;
  border-radius: 20px;
  border-style: none;
  width: 6%;
  height: 40px;
  font-size: large;
  margin-left: 24%;
}
